site_name: Copyedit with AI
site_description: Copyedit text from the CLI using AI
site_author: Brian Dennis
site_url: https://crossjam.github.io/copyedit_ai/

repo_name: crossjam/copyedit_ai
repo_url: https://github.com/crossjam/copyedit_ai

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - toc.integrate
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search

  - autorefs
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            show_source: true
            show_bases: true
            show_root_heading: true
            show_object_full_path: true
            show_category_heading: true
            show_if_no_docstring: true
            inherited_members: true
            members_order: source
            separate_signature: true
            unwrap_annotated: true
            filters: ["!^_"]
            merge_init_into_class: true
            docstring_section_style: spacy
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index



nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quickstart.md
    - Configuration: getting-started/configuration.md
  - User Guide:
    - CLI Usage: user-guide/cli.md
    - Examples: user-guide/examples.md
  - API Reference: reference/
  - Contributing: contributing.md
  - Changelog: changelog.md



markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - footnotes
  - tables
  - toc:
      permalink: true


extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/crossjam/copyedit_ai
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/copyedit_ai/